RewriteEngine on
RewriteRule ^([^/]*)\.html$ /$1.php [R=301,L]
SetEnvIf Request_URI ".*" Ngx_Cache_NoCacheMode=off
SetEnvIf Request_URI ".*" Ngx_Cache_StaticMode

<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>

order deny,allow

# パスワードページ(password.html)の場合
<Files ~ "^(samuraiarchive.php|shingle-archive.php)$">


# 検索ボットの巡回を弾く設定
SetEnvIf User-Agent "Googlebot" shutout
SetEnvIf User-Agent "Slurp" shutout

# ログインページ(hogehoge.comは、自分のサイトのURLに設定する)
SetEnvIf Referer "^https://suzusikikata.work/login-archive.php" ref_ok
SetEnvIf Referer "^https://suzusikikata.work/login-archive.php" ref_ok

order Deny,Allow
Deny from all
allow from env=ref_ok

</Files>